<!DOCTYPE html>
<html>
  <head>
    <title>MapMyTravelsLite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if controller_name == "main" && action_name == "index" %>
    <body class="cartography">
  <% else %>
    <body>
  <% end %>
    <nav class="navbar">
      <ul class="nav">
        <li><%= link_to "Home", action: 'index' %></li>
        <li><%= link_to "Map Travels", action: 'show' %></li>
        <li><%= link_to "About", action: 'about' %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
